body{
    margin:0;
    padding:0;
    background: linear-gradient(120deg, rgb(6, 6, 168),rgb(184, 15, 184),rgb(10, 184, 207));
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    overflow:hidden;
}
.center{
    position: absolute;
    top:50%;
    left:50%; 
    transform:translate(-50%,-50%);
    width:400px;
    background:white;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-radius: 1px solid silver;
}
.center form{
    padding: 0  40px;
    box-sizing:border-box;
}
form .txt_field{
    position:relative;
    border-bottom: 2px solid rgb(158, 4, 247);
    margin: 20px 0; 
}
.txt_field input{
    width:100%;
    padding: 0 5px;
    height: 40px; 
    font-size: 16px;
    border: none; 
    background: none;
    outline:none;
}
.txt_field label{
    position:absolute;
    top:50%;
    left:5px;
    color:rgb(39, 39, 88);
    transform: translateY(-50%);
    font-size:16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content:'';
    position:absolute;
    top:40px;
    left:0;
    width:0;
    height:2px;
    background: rgb(196, 9, 243);
    transition: .5s;
}
.txt_field input:focus~#label,
.txt_field input:valid~#label{
    top: -5px;
    color:aquamarine
}
.drpdwn label{
    margin: -5px 0 20px 5px;
    color:rgb(8, 2, 15);
    cursor: pointer;

}
input[type="submit"]{
    width:100%;
    height:50px;
    border:1px solid;
    background:blueviolet;
    border-radius: 25px;
    font-size: 20px;
    color:antiquewhite;
    font-weight: 900;
    cursor: pointer;
    outline:none;
    margin-bottom: 30px;
}
input[type="submit"]:hover{
    background: rgb(248, 2, 145);
    transition:.5s;

}